/* @media screen and (max-width: 1199px) {
	.container {
		width: 950px;
	}
}

@media screen and (max-width: 979px) {
            .container {
                width: 750px;
            }

            .image-three img {
                width: 579px;
                height: 393px;
            }
            .content-lefttside,.content-rightside{
                float: none;
            }
            
     */
}


    /* .sub-last-img img {
        width: 198px;
    }
    .sub-last-secondimg img,.sub-last-secondimg img {
        width: 196px;
    } */










/* 
@media screen and (max-width: 767px) {
	.container {
		width: 96%;
	}
} */